* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------*/

@font-face {
  font-family: "Futura";
  src: url("/fonts/FuturaLightC.eot");
  src: url("/fonts/FuturaLightC.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaLightC.woff2") format("woff2"), url("/fonts/FuturaLightC.woff") format("woff"), url("/fonts/FuturaLightC.ttf") format("truetype"), url("/fonts/FuturaLightC.svg#FuturaLightC") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/FuturaBookC.eot");
  src: url("/fonts/FuturaBookC.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaBookC.woff2") format("woff2"), url("/fonts/FuturaBookC.woff") format("woff"), url("/fonts/FuturaBookC.ttf") format("truetype"), url("/fonts/FuturaBookC.svg#FuturaBookC") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/FuturaMediumC.eot");
  src: url("/fonts/FuturaMediumC.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaMediumC.woff2") format("woff2"), url("/fonts/FuturaMediumC.woff") format("woff"), url("/fonts/FuturaMediumC.ttf") format("truetype"), url("/fonts/FuturaMediumC.svg#FuturaMediumC") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/FuturaDemiC.eot");
  src: url("/fonts/FuturaDemiC.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaDemiC.woff2") format("woff2"), url("/fonts/FuturaDemiC.woff") format("woff"), url("/fonts/FuturaDemiC.ttf") format("truetype"), url("/fonts/FuturaDemiC.svg#FuturaDemiC") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Light.eot");
  src: url("/fonts/Helvetica-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Helvetica-Light.woff2") format("woff2"), url("/fonts/Helvetica-Light.woff") format("woff"), url("/fonts/Helvetica-Light.ttf") format("truetype"), url("/fonts/Helvetica-Light.svg#Helvetica-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Bold.eot");
  src: url("/fonts/Helvetica-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Helvetica-Bold.woff2") format("woff2"), url("/fonts/Helvetica-Bold.woff") format("woff"), url("/fonts/Helvetica-Bold.ttf") format("truetype"), url("/fonts/Helvetica-Bold.svg#Helvetica-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BBT";
  src: url("/fonts/BBT.eot");
  src: url("/fonts/BBT.eot?#iefix") format("embedded-opentype"), url("/fonts/BBT.woff2") format("woff2"), url("/fonts/BBT.woff") format("woff"), url("/fonts/BBT.ttf") format("truetype"), url("/fonts/BBT.svg#BBT") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  --index: calc(1vw + 1vh);
  --futura: "Futura", sans-serif;
  --bbt: "BBT", serif;
  --helvetica: "Helvetica", sans-serif;
  --header-height: 95px;
  --black: #0b0f10;
  --white: #ffffff;
  --red: #ff0000;
  --swiper-theme-color: var(--red);
  --swiper-pagination-bullet-inactive-color: rgba(
      255,
      255,
      255,
      0.3411764706
  );
  --bounce-effect: linear(
      0,
      0.004,
      0.016,
      0.035,
      0.063,
      0.098,
      0.141 13.6%,
      0.25,
      0.391,
      0.563,
      0.765,
      1,
      0.891 40.9%,
      0.848,
      0.813,
      0.785,
      0.766,
      0.754,
      0.75,
      0.754,
      0.766,
      0.785,
      0.813,
      0.848,
      0.891 68.2%,
      1 72.7%,
      0.973,
      0.953,
      0.941,
      0.938,
      0.941,
      0.953,
      0.973,
      1,
      0.988,
      0.984,
      0.988,
      1
  );
}

@keyframes widthTo100 {
  to {
    max-width: 100%;
  }
}

@keyframes zHide {
  to {
    z-index: -1;
  }
}

@keyframes zAuto {
  to {
    z-index: auto;
  }
}

@keyframes blobs-animation1 {
  from {
    transform: rotate(-15deg) scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    transform: rotate(-30deg) scale(3.5);
    opacity: 0;
  }
}

@keyframes blobs-animation2 {
  from {
    transform: rotate(10deg) scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    transform: rotate(30deg) scale(3);
    opacity: 0;
  }
}

.hidden {
  overflow: hidden !important;
}

input[type=tel] {
  font-family: var(--helvetica) !important;
}

input[type=tel]::placeholder {
  font-family: var(--helvetica) !important;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3960784314);
  z-index: 1000;
  display: none;
}

.title {
  font-family: var(--bbt);
  font-size: 48px;
  color: #000000;
  text-transform: uppercase;
  line-height: normal;
}

.hidden {
  overflow: hidden !important;
}

.btn {
  font-size: 28px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 50px;
  padding: 0 25px;
  border: 1px solid var(--white);
  background-color: var(--white);
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  width: fit-content;
}

.btn path {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.btn:hover {
  background-color: var(--red);
  border: 1px solid var(--red);
  color: #ffffff;
}

.btn:hover path {
  stroke: #ffffff;
}

.btn_black {
  background-color: #000000;
  color: #ffffff !important;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: normal;
}

.btn_black:hover {
  border: none;
}

.btn_blur {
  background-color: rgba(217, 217, 217, 0.4588235294);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  -ms-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
}

.btn_border {
  border-color: #000;
}

.btn_border:hover {
  border-color: var(--red);
}

.message {
  margin-top: 15px;
  border: 2px solid var(--red);
  font-size: 16px;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  display: none;
}

.swiper-nav-item {
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3411764706);
  border-radius: 50%;
  border: 1px solid #4a4a4a;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  backdrop-filter: blur(4px);
}

.swiper-nav-item svg {
  width: auto;
  height: auto;
  object-fit: none;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.swiper-nav-item path {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.swiper-nav-item:hover {
  border-color: var(--red);
  background-color: var(--red);
}

.swiper-nav-item:hover path {
  stroke: var(--white);
}

.swiper-nav-item::after {
  content: "";
}

.swiper-button-prev:hover svg {
  -moz-transform: translate(-5px, 0) rotate(180deg);
  -ms-transform: translate(-5px, 0) rotate(180deg);
  -webkit-transform: translate(-5px, 0) rotate(180deg);
  -o-transform: translate(-5px, 0) rotate(180deg);
  transform: translate(-5px, 0) rotate(180deg);
}

.swiper-button-next:hover svg {
  transform: translate(5px, 0);
  -moz-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  -webkit-transform: translate(5px, 0);
  -o-transform: translate(5px, 0);
  transform: translate(5px, 0);
}

.section-separator {
  width: 100%;
  height: 1px;
  background-color: #6f6f6f;
}

.section-separator_white {
  background-color: #c6c6c6;
}

.breadcrumbs {
  margin: 45px 0 60px;
}

.breadcrumbs p {
  color: #c6c6c6;
  font-size: 20px;
  text-transform: lowercase;
}

.breadcrumbs a {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.breadcrumbs a:first-of-type {
  text-transform: capitalize;
}

.breadcrumbs a:hover {
  color: var(--red);
}

.search {
  position: absolute;
  right: 0;
  cursor: default;
}

.search__border {
  position: absolute;
  top: 9px;
  right: 12px;
  width: 28px;
  height: 28px;
  border: 2px solid #000000;
  border-radius: 10rem;
  transition: all 0.4s 0.4s;
}

.search__border:after {
  content: "";
  position: absolute;
  bottom: -28px;
  right: -27px;
  width: 7px;
  height: 2px;
  background: #000000;
  border-radius: 2px;
  transform-origin: 100% 50%;
  transform: rotate(225deg) translateX(3rem);
  transition: width 0.2s 0.8s;
}

.search__input {
  position: relative;
  width: 250px;
  height: 50px;
  padding: 5px 50px 5px 25px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 20px;
  color: #000000;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s;
}

.search__open {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -1px;
  right: -1px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.search__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
  animation: zHide 0.1s 0.8s forwards;
}

.search__close:before,
.search__close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  opacity: 0;
}

.search__close:before {
  transform: rotate(-45deg) translate(2rem, -50%);
  transition: transform 0.2s, opacity 0.1s 0.1s;
}

.search__close:after {
  transform: rotate(45deg) translate(2rem, -50%);
  transition: transform 0.2s 0.2s, opacity 0.1s 0.3s;
}

.search.active .search__border {
  transition: all 0.4s 0.2s;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border: 1px solid #000000;
}

.search.active .search__border::after {
  width: 0;
  transition: width 0.2s cubic-bezier(0.42, -0.7, 0.62, 1.25);
}

.search.active .search__input {
  opacity: 1;
  z-index: auto;
  transition: opacity 0.2s 0.6s;
}

.search.active .search__open {
  z-index: -1;
}

.search.active .search__close {
  animation: zAuto 0.1s forwards;
  top: 50%;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.search.active .search__close::before {
  transform: rotate(-45deg);
  opacity: 1;
  transition: transform 0.2s 0.6s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s 0.6s;
}

.search.active .search__close::after {
  transform: rotate(45deg);
  opacity: 1;
  transition: transform 0.2s 0.8s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s 0.8s;
}

.fav-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6f6f6f;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
}

.fav-button path,
.fav-button line,
.fav-button svg {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.fav-button line {
  opacity: 0;
}

.fav-button.added {
  background-color: #000000;
}

.fav-button.added:before,
.fav-button.added:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -2px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  transform: scale(0);
  color: var(--red);
  border: 1px solid transparent;
  box-shadow: -0.8em 0 0 -2px, 0.8em 0 0 -2px, 0 -0.8em 0 -2px, 0 0.8em 0 -2px, -0.6em -0.6em 0 -2px, -0.6em 0.6em 0 -2px, 0.6em -0.6em 0 -2px, 0.6em 0.6em 0 -2px;
}

.fav-button.added:before {
  animation: blobs-animation1 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fav-button.added:after {
  animation: blobs-animation2 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fav-button.added path {
  fill: #ffffff;
}

.fav-button.added:hover {
  background-color: #ffffff;
  border-color: var(--red);
}

.fav-button.added:hover line {
  stroke: var(--red);
  opacity: 1;
}

.fav-button.added:hover path {
  fill: var(--red);
}

.fav-button:active svg {
  -moz-transform: scale(1.35);
  -ms-transform: scale(1.35);
  -webkit-transform: scale(1.35);
  -o-transform: scale(1.35);
  transform: scale(1.35);
}

.fav-button:hover {
  background-color: var(--red);
  border-color: var(--red);
}

.fav-button:hover path {
  fill: #ffffff;
}

.product-capacity {
  padding: 5px 0;
  width: 52px;
  text-align: center;
  border-radius: 16px;
  font-weight: 300;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-color: #d9d9d9;
}

.product-capacity.active {
  background-color: #000000;
  color: #ffffff;
  font-weight: 400;
}

.product-capacity:hover:not(.not-avialable, .active) {
  background-color: var(--red);
  font-weight: 400;
  color: #ffffff;
}

.product-capacity.active,
.product-capacity.not-avialable {
  cursor: default;
}

.product-capacity.not-avialable {
  color: #c6c6c6;
  background-color: #eeeeee;
  overflow: hidden;
  position: relative;
  border: 1px solid #eeeeee;
  order: 3;
}

.product-capacity.not-avialable::after {
  content: "";
  background-color: #c6c6c6;
  position: absolute;
  width: 100%;
  height: 0.25px;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%) rotate(160deg);
  -ms-transform: translate(-50%, -50%) rotate(160deg);
  -webkit-transform: translate(-50%, -50%) rotate(160deg);
  -o-transform: translate(-50%, -50%) rotate(160deg);
  transform: translate(-50%, -50%) rotate(160deg);
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  margin: 0px auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--black);
  color: var(--white);
  z-index: 20;
}

header .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 80px;
  position: relative;
  z-index: 2;
}

.header__logo {
  width: 48px;
  cursor: pointer;
  user-select: none;
}

.header__logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.header__calling {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--white);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header__calling path {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header__calling:hover {
  border-color: var(--red);
}

.header__calling:hover path {
  stroke: var(--red);
}

.header__nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header__nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100%;
  width: 100%;
}

.header__nav li {
  font-size: 24px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header__nav li:hover {
  color: var(--red);
}

.header__right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 35px;
  position: relative;
  z-index: 2;
}

.header__lang {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header__lang span {
  text-transform: uppercase;
  font-size: 16px;
}

.header__lang path {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header__lang:hover {
  color: var(--red);
}

.header__lang:hover path {
  fill: var(--red);
}

.header__cart,
.header__profile {
  background-color: var(--white);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header__cart path,
.header__profile path {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.header__cart {
  position: relative;
}

.header__cart span {
  position: absolute;
  width: 22px;
  height: 22px;
  top: -7px;
  right: -5px;
  border-radius: 50%;
  background-color: var(--red);
  color: var(--black);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--helvetica);
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.header__cart:hover {
  background-color: var(--red);
}

.header__cart:hover span {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.header__cart:hover path {
  stroke: var(--red);
}

.header__profile {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header__profile path {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header__profile:hover {
  background-color: var(--red);
}

.header__profile:hover path {
  stroke: var(--white);
}

footer {
  background-color: #000000;
  padding: 45px 0 110px;
  color: #ffffff;
}

footer a {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

footer a:hover {
  color: var(--red);
}

footer .section-separator {
  margin: 0 63px;
  width: calc(100% - 126px);
}

.footer__container {
  padding-right: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 90px;
  align-items: end;
  margin-bottom: 20px;
}

.footer__logo {
  width: 87px;
  height: 109px;
  display: block;
  margin-bottom: 20px;
  user-select: none;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__tel {
  margin-bottom: 15px;
}

.footer__tel:last-of-type {
  margin-bottom: 0;
}

.footer__tel a {
  font-size: 24px;
  font-weight: 500;
}

.footer__tel p {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 5px;
  align-items: end;
  font-size: 13px;
}

.footer__tel span {
  font-size: 11px;
  color: #939393;
}

.footer__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.footer__column h2 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}

.footer__column li {
  margin-bottom: 20px;
}

.footer__column li:last-of-type {
  margin-bottom: 0;
}

.footer__column a {
  font-size: 20px;
  color: #c6c6c6;
}

.footer__socials {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.footer__socials a {
  width: 42px;
  height: 42px;
  background-color: #232323;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__socials a:hover {
  background-color: var(--red);
}

* {
  line-height: normal;
}

body {
  font-family: var(--futura);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  height: 100%;
  width: 1340px;
  margin: 0px auto;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

input {
  caret-color: var(--red);
}

main {
  flex: 1 0;
  margin-top: var(--header-height);
}

.product-card:hover .product-card__mark_sale {
  max-width: 80px;
}

.product-card:hover .product-card__mark_sale strong {
  opacity: 0;
}

.product-card:hover .product-card__mark_sale span {
  opacity: 1;
}

.product-card__header {
  width: 100%;
  aspect-ratio: 7/6;
  position: relative;
}

.product-card__header a:hover .product-card__img_main {
  opacity: 0;
}

.product-card__marks {
  position: absolute;
  width: 100%;
  top: 0;
  left: 15px;
  z-index: 5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 10px;
}

.product-card__mark {
  max-width: 45px;
  width: 100%;
  height: 45px;
  position: relative;
  color: #ffffff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow: hidden;
}

.product-card__mark_bestseller span {
  font-size: 36px;
  position: relative;
  z-index: 2;
}

.product-card__mark_bestseller img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.product-card__mark_new-collection {
  background-color: var(--red);
}

.product-card__mark_new-collection > span {
  font-weight: 500;
  font-size: 10px;
  padding-left: 3px;
}

.product-card__mark_new-collection > span .big-letter {
  font-size: 20px;
}

.product-card__mark_sale {
  background-color: #b00000;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
}

.product-card__mark_sale strong {
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.product-card__mark_sale span {
  position: absolute;
  width: 74px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 10px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.product-card__fav {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 6;
}

.product-card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.product-card__img_main {
  z-index: 2;
}

.product-card__img_original {
  z-index: 1;
}

.product-card__body {
  padding: 15px 0 30px;
  font-size: 15px;
  font-weight: 300;
  color: #2d2d2d;
}

.product-card__body a {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  color: #000000;
}

.product-card__body a:hover {
  color: var(--red);
}

.product-card__body h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-card__category {
  text-transform: lowercase;
  margin-bottom: 10px;
}

.product-card__notes {
  margin-bottom: 20px;
}

.product-card__notes span:last-of-type {
  margin-left: 10px;
  color: #000000;
}

.product-card__capacity {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: end;
  gap: 10px;
  flex-wrap: wrap;
}

.product-card__footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.product-card__btns {
  width: 212px;
  flex-shrink: 0;
}

.product-card__btn {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.product-card__btn_add-to-cart {
  margin-bottom: 25px;
}

.product-card__btn_buy-now {
  border: 1px solid #000000;
}

.product-card__price {
  position: relative;
  margin-top: 11px;
}

.product-card__price strong {
  font-weight: 500;
  font-size: 32px;
}

.product-card__price span {
  font-weight: 500;
  color: #c6c6c6;
  font-size: 15px;
  position: absolute;
  top: 0;
  left: -45px;
  transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.product-card__price span::after {
  content: "";
  background-color: #c6c6c6;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%) rotate(165deg);
  -ms-transform: translate(-50%, -50%) rotate(165deg);
  -webkit-transform: translate(-50%, -50%) rotate(165deg);
  -o-transform: translate(-50%, -50%) rotate(165deg);
  transform: translate(-50%, -50%) rotate(165deg);
}

.product-card-mini {
  position: relative;
}

.product-card-mini__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 19;
}

.product-card-mini__fav {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20;
}

.product-card-mini:hover .product-card-mini__img_main {
  opacity: 0;
}

.product-card-mini:hover h3 {
  color: var(--red);
}

.product-card-mini span {
  display: block;
  width: 100%;
  aspect-ratio: 7/6;
  position: relative;
  margin-bottom: 15px;
}

.product-card-mini h3 {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 24px;
}

.product-card-mini__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.product-card-mini__img_main {
  z-index: 2;
}

.product-card-mini__img_original {
  z-index: 1;
}

.product-recommendations {
  padding-top: 55px;
  border-top: 1px solid #6f6f6f;
  margin-bottom: 155px;
}

.product-recommendations .swiper-header {
  margin-bottom: 110px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding-right: 280px;
  text-transform: uppercase;
}

.product-recommendations .swiper-nav {
  width: 140px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-recommendations .swiper-nav-item {
  position: static;
  margin-top: 0;
  width: 45px;
  height: 45px;
  border: 2px solid var(--black);
}

.product-recommendations .swiper-nav-item svg {
  width: 8px;
  height: 16px;
}

.product-recommendations .swiper-nav-item path {
  stroke-width: 3px;
}

.product-recommendations .swiper-nav-item:hover {
  background-color: var(--red);
  border-color: var(--red);
}

.product-recommendations .swiper-button-next {
  background-color: var(--black);
}

.product-recommendations .swiper-button-next path {
  stroke: #ffffff;
}

.product-recommendations .swiper-wrapper {
  width: 100%;
}

.menu {
  padding-bottom: 140px;
}

.menu .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.menu__selector {
  position: absolute;
  height: 100%;
  top: 33px;
  left: 50%;
  transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.menu__selector button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  color: #6f6f6f;
  border: 1px solid #c6c6c6;
  background-color: transparent;
}

.menu__selector button.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  cursor: default;
}

.menu__selector button:hover:not(.active) {
  color: #ffffff;
  background-color: var(--red);
  border-color: var(--red);
}

.menu__categories {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 50px;
}

.menu__categories button {
  padding: 4px 20px;
  font-size: 16px;
  flex: 1;
}

.menu__buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 50px;
  -webkit-transition: all 0.3s ease-out 0.8s;
  -moz-transition: all 0.3s ease-out 0.8s;
  -ms-transition: all 0.3s ease-out 0.8s;
  -o-transition: all 0.3s ease-out 0.8s;
  transition: all 0.3s ease-out 0.8s;
}

.menu__buttons.search-opened {
  gap: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.menu__buttons.search-opened .menu__filter {
  border-color: transparent;
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.menu__button {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
}

.menu__button .search,
.menu__button svg {
  z-index: 1;
}

.menu__button::after {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  z-index: 0;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.menu__search {
  position: relative;
  -webkit-transition: all 0.3s ease-out 0.8s;
  -moz-transition: all 0.3s ease-out 0.8s;
  -ms-transition: all 0.3s ease-out 0.8s;
  -o-transition: all 0.3s ease-out 0.8s;
  transition: all 0.3s ease-out 0.8s;
}

.menu__search.active {
  border-color: transparent;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.menu__filter {
  align-items: center;
  -webkit-transition: all 0.3s ease-out 0.8s;
  -moz-transition: all 0.3s ease-out 0.8s;
  -ms-transition: all 0.3s ease-out 0.8s;
  -o-transition: all 0.3s ease-out 0.8s;
  transition: all 0.3s ease-out 0.8s;
}

.menu__filter path {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  transform-origin: center;
}

.menu__filter:hover::after,
.menu__filter.active::after {
  background-color: var(--red);
}

.menu__filter:hover path,
.menu__filter.active path {
  fill: #ffffff;
  -moz-transform: scale(0.88);
  -ms-transform: scale(0.88);
  -webkit-transform: scale(0.88);
  -o-transform: scale(0.88);
  transform: scale(0.88);
}

.catalog__wrapper {
  display: -ms-grid;
  display: -moz-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  row-gap: 70px;
  margin-bottom: 100px;
}

.catalog__pagination {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.catalog__pages {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: end;
  gap: 15px;
}

.catalog__pages li {
  color: #6f6f6f;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  line-height: 70%;
  user-select: none;
}

.catalog__pages li a {
  line-height: 70%;
}

.catalog__pages li:hover:not(.active, .dots) {
  color: var(--red);
}

.catalog__pages li.active {
  margin-right: 4px;
  color: #000000;
  font-weight: 600;
  font-size: 32px;
}

.catalog__nav {
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.catalog__nav svg {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.catalog__nav_prev {
  border: 1px solid #000000;
}

.catalog__nav_prev:hover svg {
  -moz-transform: translate(-5px, 0) rotate(180deg);
  -ms-transform: translate(-5px, 0) rotate(180deg);
  -webkit-transform: translate(-5px, 0) rotate(180deg);
  -o-transform: translate(-5px, 0) rotate(180deg);
  transform: translate(-5px, 0) rotate(180deg);
}

.catalog__nav_next path {
  stroke: #ffffff;
}

.catalog__nav_next:hover svg {
  transform: translate(5px, 0);
  -moz-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  -webkit-transform: translate(5px, 0);
  -o-transform: translate(5px, 0);
  transform: translate(5px, 0);
}

.filter {
  width: 444px;
  padding: 75px 35px 30px 30px;
  border: 1px solid #000000;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1001;
  background-color: #ffffff;
  overflow: auto;
  max-height: 100vh;
  transform: translate(120%, 0);
  -moz-transform: translate(120%, 0);
  -ms-transform: translate(120%, 0);
  -webkit-transform: translate(120%, 0);
  -o-transform: translate(120%, 0);
  transform: translate(120%, 0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

.filter.opened {
  transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.filter__close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 23px;
  right: 35px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6f6f6f;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.filter__close path {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.filter__close:hover {
  background-color: var(--red);
  border-color: var(--red);
}

.filter__close:hover path {
  fill: #ffffff;
}

.filter__chunk {
  margin-bottom: 20px;
}

.filter__chunk:not(:first-child) .filter__head-wrapper {
  cursor: pointer;
}

.filter__head {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 35px;
}

.filter__head-wrapper {
  padding: 0 0 10px 3px;
  border-bottom: 1px solid #d9d9d9;
  flex-grow: 1;
  flex-shrink: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
}

.filter__head-wrapper.opened .filter__show {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.filter__head-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: end;
}

.filter__head-right span:not(.desc, .fakecheck) {
  font-size: 13px;
  padding: 3px 12px;
  user-select: none;
  background-color: #d9d9d9;
}

.filter__head-right .fakecheck {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.filter__head-right .desc {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.filter__head-right label {
  cursor: pointer;
  font-size: 13px;
  padding: 3px 12px;
  user-select: none;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.filter__head-right input {
  display: none;
}

.filter__head-right input:checked ~ .fakecheck,
.filter__head-right label:hover .fakecheck {
  background-color: var(--red);
}

.filter__head-right input:checked ~ .desc,
.filter__head-right label:hover .desc {
  color: #ffffff;
}

.filter__reset {
  flex-shrink: 0;
  margin-bottom: 10px;
  position: relative;
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.filter__reset span {
  width: 1.3px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #000000;
}

.filter__reset span:first-child {
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.filter__reset span:last-child {
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.filter__show {
  background-color: transparent;
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.filter__show svg {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  height: 15px;
  width: 8.5px;
}

.filter__show path {
  stroke-width: 2.5px;
}

.filter__body {
  margin-top: 15px;
  max-height: 150px;
  overflow: auto;
  display: none;
}

.filter__body::-webkit-scrollbar {
  width: 7px;
}

.filter__body::-webkit-scrollbar-button {
  display: none;
}

.filter__body::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border-radius: 5px;
}

.filter__body::-webkit-scrollbar-thumb {
  background-color: #6f6f6f;
  border-radius: 5px;
}

.filter__body label {
  display: block;
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 300;
  color: #2d2d2d;
  text-transform: lowercase;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 13px;
  align-items: center;
}

.filter__body label:last-of-type {
  margin-bottom: 0;
}

.filter__body input {
  display: none;
}

.filter__body input:checked + .fakecheck {
  background-color: var(--red);
}

.filter__body .fakecheck {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #eeeeee;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.filter__btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.filter__btns button {
  width: auto;
  height: auto;
  font-size: 15px;
  font-weight: 400;
  text-transform: none;
  padding: 2px 15px;
}

.filter__btns button[type=reset] {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-color: transparent;
}

.filter__btns button[type=reset]:hover {
  color: var(--red);
}

.filter__btns button[type=submit] path {
  stroke: #ffffff;
  stroke-width: 2px;
}

.filter__btns button[type=submit] svg {
  width: 21px;
  height: 21px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.filter__btns button[type=submit]:hover svg {
  transform: translate(7px, 0);
  -moz-transform: translate(7px, 0);
  -ms-transform: translate(7px, 0);
  -webkit-transform: translate(7px, 0);
  -o-transform: translate(7px, 0);
  transform: translate(7px, 0);
}

@media screen and (max-width: 1280px) {
  :root {
    --header-height: 68px;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --header-height: 60px;
  }

  .container {
    padding: 0 20px;
  }
}